.vscode/**
CMakeFiles/**
.ninja_deps
.ninja_log
*.ninja
CMakeCache.txt
plotter
*.cmake
*.xml
*.cppcheck
doc/**
Doxyfile
test_program*
build/**
*.ttf
lib/**
install_manifest.txt
testplotter
tests/CMakeFiles/**